<nav class="navbar navbar-default navbar-fixed-top"> 
    <div class="container-fluid">
        <div class="navbar-header">
                <a routerLink="/" class="navbar-brand">Hashedin</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="active"><a routerLink="/dashboard">Courses</a></li>
            <li><a routerLink="/wishlist">MY WISHLIST</a></li>
            <li><a routerLink="/cart"><span class="glyphicon glyphicon-shopping-cart"></span></a></li>
            <li><a routerLink="/profile"><span class="glyphicon glyphicon-user"></span></a></li>
          </ul>
    </div>
</nav>